interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjQ3MjcwNTIyLCJqdGkiOiI3ZWQ5YzUzNjBhN2M0YjEwYWQ4NDZkMDQ1NWQxZTkwYSIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.p-YNyQGKf5ZwJKDQQereBuTx-ChdMPLNCJPEqOgapNJteVi44sHjTq_I3VgGlaSriRBJ96xwLw761UE5hS2l3zu2vVu5Dy9ioNlt3piKR4O_ueWfUdUItjwXgJxdgOJ0QAKzNYiiVxHrd6zDzOrRTa4V5-Ptw8yca2bI7NPJDDaFUjE8TYthvovnFwLVq_nAIkkaYMksW6hjrwMT4Dgb3zm3k--2onFKRgZN5Rj_EGwrgN_truXIfUEaxTjvazGAPiBxMaBnl0oLC8FXM0WVmDIFCpaFcyX-U1cAnA5qpjKPrO7bi2pueXPEPwGVCVv1tTWgTyc595U1DWfWTiqjYw
    method: GET
    uri: http://api.dev.documentcloud.org/api/users/100098/?version=2.0
  response:
    body:
      string: '{"id":100098,"avatar_url":"http://dev.squarelet.local/static/images/avatars/profile.png","name":"Test
        User","organization":11343,"organizations":[11343],"username":"test-user","uuid":"a7a1bf27-4f5a-4c06-96c2-2d812c51b61f","verified_journalist":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjQ3MjcwNTIyLCJqdGkiOiI3ZWQ5YzUzNjBhN2M0YjEwYWQ4NDZkMDQ1NWQxZTkwYSIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.p-YNyQGKf5ZwJKDQQereBuTx-ChdMPLNCJPEqOgapNJteVi44sHjTq_I3VgGlaSriRBJ96xwLw761UE5hS2l3zu2vVu5Dy9ioNlt3piKR4O_ueWfUdUItjwXgJxdgOJ0QAKzNYiiVxHrd6zDzOrRTa4V5-Ptw8yca2bI7NPJDDaFUjE8TYthvovnFwLVq_nAIkkaYMksW6hjrwMT4Dgb3zm3k--2onFKRgZN5Rj_EGwrgN_truXIfUEaxTjvazGAPiBxMaBnl0oLC8FXM0WVmDIFCpaFcyX-U1cAnA5qpjKPrO7bi2pueXPEPwGVCVv1tTWgTyc595U1DWfWTiqjYw
    method: GET
    uri: http://api.dev.documentcloud.org/api/organizations/11343/?version=2.0
  response:
    body:
      string: '{"id":11343,"avatar_url":"http://dev.squarelet.local/static/images/avatars/organization.png","individual":true,"name":"test-user","slug":"test-user","uuid":"a7a1bf27-4f5a-4c06-96c2-2d812c51b61f"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
