interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzAxMjkyMTIzLCJqdGkiOiJhZTQyNGI4NzAwYTg0Njg3YWVjNTEzZjI5MWFjMTU1NCIsInVzZXJfaWQiOiI5YTczMmY0Yi0wNTRmLTRkNDQtYWJiMC1kODQyMTdkY2EzMzMiLCJhdWQiOlsic3F1YXJlbGV0IiwibXVja3JvY2siLCJkb2N1bWVudGNsb3VkIl0sImlzcyI6WyJzcXVhcmVsZXQiXX0.Fd5PFPqGPAoUMpjgXNvwVqR1rKGx_AkjLbztX1DGtbjdiTjg6WF_D-OtETag2Ky_bqTr9TEXJ2lQswUJJ5_YES3accK7P-W4cUAQoQRfdvmavI-U3q-6EJNXNJ9Ej4ZIco5S-n7CoU_oSfVOBm15MuhXw42PsWcvYPV-m_2IiQ4TEiEuaW8niyE4Ogim9DlrAM2DZc-0ZOyXLsRuJKDuGNuLNRSf62Z9ICOK5A9aRFzMnTqN-ON3OxksYbbJ26MKlMEN3zzbst_PnMT5roPZ65qhb2CFCWZvK8v5i2xqLIVI6KHh0TOdSLljlNO4CSRpf3L7NCaO8SEa5oWEnU_KRA
    method: GET
    uri: https://api.dev.documentcloud.org/api/documents/search/?hl=true&q=document%3A20000193+text&version=2.0
  response:
    body:
      string: '{"count":1,"next":"https://api.dev.documentcloud.org/api/documents/search/?hl=true&q=document%3A20000193+text&version=2.0&cursor=AoMIO70ZP3W1%2BbiOjAMoMjAwMDAxOTM%3D","previous":null,"results":[{"id":"20000193","user":100002,"organization":10002,"access":"private","status":"success","title":"test","slug":"test","source":"DocumentCloud","description":"A
        simple test document","language":"eng","created_at":"2023-11-29T21:02:19.989Z","updated_at":"2023-11-29T21:02:39.376Z","page_count":1,"projects":[200052],"original_extension":"pdf","file_hash":"5dcb718cdd5326ce53ccf8b0d801c0fcaffa1c81","related_article":"https://www.example.com/article/","published_url":"https://www.example.com/article/test.pdf","noindex":false,"edit_access":true,"notes":[],"highlights":{"page_no_1":["doc1\nThis
        is a simple <em>text</em> PDF containing one page of info"]},"data":{"_tag":["document"]},"asset_url":"https://api.dev.documentcloud.org/files/","canonical_url":"https://www.dev.documentcloud.org/documents/20000193-test"}],"escaped":false,"debug":{"text_query":"text","qtime":9,"fq":["!access:invisible","filter(access:public
        AND status:(success readable)) OR (user:100002) OR (access:organization AND
        organization:(10002)) OR (projects_edit_access:(200053 200052))","id:(20000193)"],"sort":"score
        desc, created_at desc, id desc","hl":"on","hl.highlightMultiTerm":"true","rows":25,"cursorMark":"*","qq_user":100002,"notes.qq_user":100002,"qq_organizations":"10002","qq_projects":"200053,200052"}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
