interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjk5MDQwNjMyLCJqdGkiOiI4ODRjNGVjMWMyNmY0OTBlOTUyMzM4MWIwZmI3ODg1NyIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYiLCJhdWQiOlsic3F1YXJlbGV0IiwibXVja3JvY2siLCJkb2N1bWVudGNsb3VkIl0sImlzcyI6WyJzcXVhcmVsZXQiXX0.WAFNIp-5HMkQ_6-Bqj_tuj1IpiO9jDzs4Pmb0XZpYMXtisEWbkaj0V4qXDsF1vHCoCDjA3jT31IyIrbNdmEixVTTuDG-eMT_PCPpdm25jP8ECErZNv-TaUiMOMYRaXvt3ENPBckE4SMjHiDSR_Prr34kY_LxCnDITp8JsjTIcsM1Wr8x5sFd6TQ-gshw0NbqILas1wLMBo9Lpmh0uuJ7498uxX_Kdb6cLuSVbZeN7iwO1F2IuU90NDYvsKdBz-6ajS-fkwSKbFRWRCushLhfrDBJH5dv-rRgq87CQ-IjeXkxpuqEPqRyarnelAewgc1_jw6WbBPz9xXJmaHjdZys_A
    method: GET
    uri: https://api.dev.documentcloud.org/api/documents/search/?hl=true&q=document%3A10002172+text&version=2.0
  response:
    body:
      string: '{"count":1,"next":"https://api.dev.documentcloud.org/api/documents/search/?hl=true&q=document%3A10002172+text&version=2.0&cursor=AoMIPj0%2FSHnbqKzLiwMoMTAwMDIxNzI%3D","previous":null,"results":[{"id":"10002172","user":100098,"organization":11343,"access":"private","status":"success","title":"test","slug":"test","source":"DocumentCloud","description":"A
        simple test document","language":"eng","created_at":"2023-11-03T19:38:02.041Z","updated_at":"2023-11-03T19:38:09.896Z","page_count":1,"projects":[100501],"original_extension":"pdf","file_hash":"5dcb718cdd5326ce53ccf8b0d801c0fcaffa1c81","related_article":"https://www.example.com/article/","published_url":"https://www.example.com/article/test.pdf","noindex":false,"edit_access":true,"notes":[],"highlights":{"page_no_1":["doc1\nThis
        is a simple <em>text</em> PDF containing one page of info"]},"data":{"_tag":["document"]},"asset_url":"https://api.dev.documentcloud.org/files/","canonical_url":"https://www.dev.documentcloud.org/documents/10002172-test"}],"escaped":false,"debug":{"text_query":"text","qtime":120,"fq":["!access:invisible","filter(access:public
        AND status:(success readable)) OR (user:100098) OR (access:organization AND
        organization:(11343)) OR (projects_edit_access:(100502 100278 100501 100494))","id:(10002172)"],"sort":"score
        desc, created_at desc, id desc","hl":"on","hl.highlightMultiTerm":"true","rows":25,"cursorMark":"*","qq_user":100098,"notes.qq_user":100098,"qq_organizations":"11343","qq_projects":"100502,100278,100501,100494"}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
