interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjQ3MjcwNDg2LCJqdGkiOiI0MjRhOGVjMDljZTY0MzY2YjhhMmIxYjkxYjM1Y2Y4NyIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.j7PfS6-Diw5gqge0p5M-RIwlXj3MkbLYf3AaYts97oYM4Cq22crbc5-aJLWJ6SWVWrT4Mvbg_nZ2KpcxweChJ4-mRVzI9-e1uXM1JiMwic1gLN4pZxf2Iep0HcDBcQVsxiGlQLFgYEOFLpu50_7HB3Y0PsSbq_-ZG3AhsdOry961f40SXxvQgO9Q9QijsUGk-cIDzyRU_ZhgmRk0VFTtJt_AkCARyadA06iD0F7F1vVZMDbiQENRx0U5niPlhN0fYz8BPBFXFWUS0qBq8ulxnAHS0O83uv3k_ws8L67b7YzkPHJF3I6oDCQOIHM7-ED1NkRb9SQC7d4RrjppzDoDPg
    method: GET
    uri: http://api.dev.documentcloud.org/api/documents/search/?q=document%3A10001723+simple&version=2.0
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":"10001723","user":100098,"organization":11343,"access":"private","status":"success","title":"test","slug":"test","source":"MuckRock","description":"A
        simple test document","language":"eng","created_at":"2022-03-14T15:06:56.731Z","updated_at":"2022-03-14T15:07:49.775Z","page_count":1,"projects":[100458],"original_extension":"pdf","file_hash":"5dcb718cdd5326ce53ccf8b0d801c0fcaffa1c81","related_article":"https://www.example.com/article/","published_url":"https://www.example.com/article/test.pdf","edit_access":true,"highlights":null,"data":{"_tag":["document"]},"asset_url":"http://api.dev.documentcloud.org/files/","canonical_url":"http://www.dev.documentcloud.org/documents/10001723-test"}],"escaped":false,"debug":{"text_query":"simple","qtime":2,"fq":["!access:invisible","filter(access:public
        AND status:(success readable)) OR (user:100098) OR (access:organization AND
        organization:(11343)) OR (projects_edit_access:(100459 100278 100458))","id:(10001723)"],"sort":"score
        desc, created_at desc","rows":25,"start":0,"hl":"off","hl.highlightMultiTerm":"true"}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
