interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjA1Mjk1NTUzLCJqdGkiOiIzYjk0NzhmYzM3NTM0ZDNlYTdjMWE2MTNiMmY4MDcyYSIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.H6yucQ_OnqB42YDisUbF4gvF1wNmi0AxNCnH3s1mNUACCCCEZMaQhf8xKEyMB-hOyFAHnj-oI05QoFAVLYtDwgIU-wPLOXURxvWAdYoGpvbpgWP3a97YeztSUql7pyImxIx3S02X9PMNDSiuReWtCphqvy3NOx77dWE4yg41qpv2jQZ2Gb3xzughIH1DyUw2qM6k4dw-l1OUwAT9JUD7zgd_1tQBuDcPFmH7azZ8mJTdb7p5W9rKE2P1H1QD4zFYq2NxDz_lxkOJ2yJeJMHB7z4FA9G68W1wmqPkffQhcd4-mmDm_oRxMYxYUKcKM3KAfNDVKqoWCpELXRrQUxoPQQ
    method: GET
    uri: http://api.dev.documentcloud.org/api/documents/search/?q=document%3A10001209+text
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":"10001209","user":100098,"organization":11343,"access":"private","status":"success","title":"test","slug":"test","source":"DocumentCloud","description":"A
        simple test document","language":"eng","created_at":"2020-11-13T19:20:06.628Z","updated_at":"2020-11-13T19:20:12.704Z","page_count":1,"projects":[100390],"highlights":{"page_no_1":["doc1\nThis
        is a simple <em>text</em> PDF containing one page of info"]},"data":{"_tag":["document"]},"asset_url":"http://api.dev.documentcloud.org/files/"}],"escaped":false,"debug":{"text_query":"text","fq":["!access:invisible","filter(access:public
        AND status:(success readable)) OR (user:100098) OR (access:organization AND
        organization:(11343)) OR (projects_edit_access:(100391 100278 100390))","id:(10001209)"],"sort":"score
        desc, created_at desc","rows":25,"start":0,"hl":"on"}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
