interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjk5MDQwNTc0LCJqdGkiOiI3NWI3OTc3NTNkMWE0OThiODkyODk2Y2Q2YTFkY2E0MSIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYiLCJhdWQiOlsic3F1YXJlbGV0IiwibXVja3JvY2siLCJkb2N1bWVudGNsb3VkIl0sImlzcyI6WyJzcXVhcmVsZXQiXX0.BR92_pMMOrO0gduqhadz1ggljBwyV9f95yFbWKDa3YyETErIjxSs-e5HP2aaOEwJOhEUbshsV3BDhRLgxCsnQY1ApZPBW0nBZWf5g19nx1t_ZvzkF2M9syZLPFCR7B3HhU52hTIVpjHYcwlKyuPxCo9KWQXP9T-Hw0YgNzpn8YF0eZbzZ06Cozvh7IeCbrwHaRvZ5uqJ90IbyuDuBfS6RaVzFj8Ssig7-4W5Pj49ot-HYV28rWwRGNrdO5nxp3CgRIK237xb8I-639JFZEg7fQKlAZ0CsC1TXx-oI2syiHXsqA-W1NDLDtN8ayvuzYgqTrS0GrBXbdGFEREwDF1u0A
    method: GET
    uri: https://api.dev.documentcloud.org/api/documents/?version=2.0
  response:
    body:
      string: "{\"next\":\"https://api.dev.documentcloud.org/api/documents/?cursor=cD0xMDAwMDY3NA%3D%3D&version=2.0\",\"previous\":null,\"results\":[{\"id\":613,\"access\":\"public\",\"admin_noindex\":false,\"asset_url\":\"https://documentcloud-dev-mjk.s3.amazonaws.com/\",\"canonical_url\":\"https://www.dev.documentcloud.org/documents/613-national-conference-2010-letter-from-sue-myrick\",\"created_at\":\"2010-03-25T14:08:23.066983Z\",\"data\":{},\"description\":\"\",\"edit_access\":false,\"file_hash\":\"\",\"noindex\":false,\"language\":\"eng\",\"organization\":2,\"original_extension\":\"pdf\",\"page_count\":1,\"page_spec\":\"\",\"projects\":[],\"publish_at\":null,\"published_url\":\"\",\"related_article\":\"\",\"revision_control\":false,\"slug\":\"national-conference-2010-letter-from-sue-myrick\",\"source\":\"Talking
        Points Memo\",\"status\":\"success\",\"title\":\"National Conference 2010
        Letter from Sue Myrick\",\"updated_at\":\"2020-04-07T15:37:53.041037Z\",\"user\":2},{\"id\":615,\"access\":\"public\",\"admin_noindex\":false,\"asset_url\":\"https://documentcloud-dev-mjk.s3.amazonaws.com/\",\"canonical_url\":\"https://www.dev.documentcloud.org/documents/615-eric-massa-press-statement\",\"created_at\":\"2010-03-25T14:10:01.627158Z\",\"data\":{},\"description\":\"\",\"edit_access\":false,\"file_hash\":\"\",\"noindex\":false,\"language\":\"eng\",\"organization\":2,\"original_extension\":\"pdf\",\"page_count\":1,\"page_spec\":\"\",\"projects\":[],\"publish_at\"[...]
