interactions:
- request:
    body: '{"title": "Test Note", "page_number": 0, "content": "<p>Page note!</p>",
      "access": "private", "x1": null, "y1": null, "x2": null, "y2": null}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjQ3MjcwNDI2LCJqdGkiOiI0NTNmNTJhMDA5YmQ0ZDNlYmU2YzM1MWU0YjZiZGVhNyIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.LPeV5iZVCMxxZDGMb2XFJgC9ksOb9e_wIvAF5UzIQtiqvvbU5Xr_F3y5qEEY3NxrrVDQyNt6OKTvdDUTtVrSP_wzuSDJBwKl295_U1lfUKym0uBirf9QdoFPQV3U2h3MFVTyQCxNSwsbeTa_PlaKELkfnRMH1tHUypIge_Be2dVFn3vK02xPCp1u5B4NSBwNJu5CU-UjP1fKMjjnO7cfHQMw1uIsT07tJVaTYkbMY2q21Cp9yapAU91_ZT9rs-y2b0ObDBmYQClQ-zDuOP2ghdfEsVBHAVWAwE4-ksZ8NHuLBhECul3adtSqVy_HLh2IZ7IQioa0an9rC4t2eSOPRw
      Content-Type:
      - application/json
    method: POST
    uri: http://api.dev.documentcloud.org/api/documents/10001723/notes/?version=2.0
  response:
    body:
      string: '{"id":1000226,"user":100098,"organization":11343,"page_number":0,"access":"private","edit_access":true,"title":"Test
        Note","content":"<p>Page note!</p>","x1":null,"x2":null,"y1":null,"y2":null,"created_at":"2022-03-14T15:07:05.533873Z","updated_at":"2022-03-14T15:07:05.534173Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjQ3MjcwNDI2LCJqdGkiOiI0NTNmNTJhMDA5YmQ0ZDNlYmU2YzM1MWU0YjZiZGVhNyIsInVzZXJfaWQiOiJhN2ExYmYyNy00ZjVhLTRjMDYtOTZjMi0yZDgxMmM1MWI2MWYifQ.LPeV5iZVCMxxZDGMb2XFJgC9ksOb9e_wIvAF5UzIQtiqvvbU5Xr_F3y5qEEY3NxrrVDQyNt6OKTvdDUTtVrSP_wzuSDJBwKl295_U1lfUKym0uBirf9QdoFPQV3U2h3MFVTyQCxNSwsbeTa_PlaKELkfnRMH1tHUypIge_Be2dVFn3vK02xPCp1u5B4NSBwNJu5CU-UjP1fKMjjnO7cfHQMw1uIsT07tJVaTYkbMY2q21Cp9yapAU91_ZT9rs-y2b0ObDBmYQClQ-zDuOP2ghdfEsVBHAVWAwE4-ksZ8NHuLBhECul3adtSqVy_HLh2IZ7IQioa0an9rC4t2eSOPRw
    method: DELETE
    uri: http://api.dev.documentcloud.org/api/documents/10001723/notes/1000226/?version=2.0
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - en
    status:
      code: 204
      message: No Content
version: 1
